body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4;
}

header {
    background-color: #33;
    color: blue;
    text-align: center;
    padding: 29px;
}

nav {
    background-color: #55;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 30px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.box {
    background: yellow;
    padding: 20px;
    width: 200px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}
